BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseInsensitive
PointerAlignment: Left
ReflowComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PenaltyBreakBeforeFirstCallParameter: 100