CompileFlags:
  CompilationDatabase: .
  Add:
    - -std=c++23

Index:
  Background: Build

Diagnostics:
  ClangTidy: {}

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes

Hover:
  ShowAKA: Yes

---
If:
  PathMatch: .*/opt/vulkansdk/.*
Diagnostics:
  Suppress: '*'

---
If:
  PathMatch: .*/libc\+\+/.*
Diagnostics:
  Suppress: '*'